

body{
  height: 10px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: #3c3e70;


}

  {
    margin:0;
    padding:0;
  }

  .box{
    width: 150px;
    height: 150px;
    background-color: salmon;
    animation-name: box_ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-iteration-count: 1; */
    animation-direction: alternate;
    /* animation-delay: 2s; */
    /* animation-timing-function: cubic-bezier(1,-0.92, 0.4, 0.66); */
    /* animation-timing-function: linear; */
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition: all 0.5s;

  }

  .box:{
    background-color: gold;
  }

  @keyframes box_ani{
    from{
      margin-left: 0;
        }

    to{
      margin-left: 2000px;
      }


  }



  .box:hover{
    background-color: gold;
  }



  /* .btn{
    font-size: 25px;
    padding: 30px 30px;
    background-color: white;
    color: black;
    bodor: 3px solid black;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: sans-serif;
    transition: all 0.5s;


  }

  .btn:focus{
    outline: none;
  }

  .btn:hover{
    background-color: black;
    color: white; */
